@media(max-width:1366px) {

  .container,
  .about__content {
    max-width: 1024px;
  }

  .header__top {
    padding-top: 20px;
  }

  .header__bottom {
    padding-top: 32px;
  }

  .header-bottom__btn::before {
    left: -12px;
  }

  .header-bottom__btn--now span {
    display: block;
    margin-left: -8px;
  }

  .header__logo {
    display: none;
  }

  .logo {
    display: block;
    background-color: var(--grey-light);
  }

  .logo__link {
    display: block;
    padding-top: 23px;
    padding-bottom: 17px;
  }

  .logo__img {
    width: 112px;
    height: 14px;
  }

  .header-top__nav {
    width: 78%;
  }

  .header-bottom__nav {
    width: 65%;
    margin-right: 0px;
  }

  .nav__item:not(:last-child) {
    margin-right: 9.1%;
  }

  .nav__item {
    margin-top: 10px;
    font-size: 1.953vw;
  }

  .search-btn {
    margin-top: 6px;
  }

  .login-btn {
    padding: 10px 31px;
  }

  .header-bottom__btn--now {
    margin-left: 32px;
  }

  .header-bottom__item:not(:last-child) {
    margin-right: 5.2%;
  }

  .header::before {
    bottom: -12px;
  }

  .header::after {
    top: 139px;
  }

  .age--12 {
    display: none;
  }

  .main-title {
    width: 56%;
    padding-top: 103px;
  }

  .hero__text {
    width: 65%;
    margin-bottom: 21px;
  }

  .hero .container {
    background-image: url('../img/microphone-1024.png');
    background-position: 87% 51%;
  }

  .hero__btn {
    margin-bottom: 90px;
  }

  .podcasts__title {
    margin-bottom: 31px;
  }

  .stats__item:not(:last-child) {
    margin-right: 30px;
  }

  .podcasts__more {
    padding-bottom: 91px;
  }

  .broadcast .container {
    padding-bottom: 63px;
  }

  .broadcast__left {
    width: calc(100% / 3 + (var(--gap)) / 2 * 3);
    margin-right: var(--gap);
    justify-content: flex-start;
    background-position: left 50%;
  }

  .broadcast-left__top {
    margin-bottom: 338px;
  }

  .choices {
    width: 100%;
  }

  .broadcast__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .broadcast__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .broadcast__article {
    margin-bottom: 30px;
  }

  .broadcast__article>picture {
    margin-bottom: -7px;
  }

  .broadcast__item {
    width: calc(100% / 2 - var(--gap) / 2);
    min-height: auto;
  }

  .broadcast-article__content {
    padding: 19px 14px 19px;
  }

  .broadcast-article__title {
    margin-bottom: 5px;
  }

  .broadcast-article__description {
    margin-bottom: -12px;
  }

  .guests__text {
    width: 65%;
  }

  .guests__left {
    width: 65.4%;
  }

  .guests-content__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .guests-content__item:not(:nth-child(3n)) {
    margin-right: 5%;
  }

  .guests-content__item {
    width: 30%;
  }

  .guests__right {
    max-width: 31%;
  }

  .guests__img {
    margin-bottom: 6px;
  }

  .flag {
    left: 0;
  }

  .playlist-article {
    flex-direction: row;
    min-width: 255px;
    min-height: auto;
  }

  .playlist-article__content {
    width: 143px;
    padding: 40px 4px 0px 9px;
  }

  .playlist-article__title {
    width: 100%;
  }

  .playlist-article__description {
    margin-bottom: auto;
    margin-top: 0;
  }

  .playlist__article::before {
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

  .playlist__article::after {
    right: 143px;
    bottom: 0;
  }

  .playlist__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 29px;
  }

  .playlist__form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    width: 100%;
    margin-bottom: 8px;
  }

  .playlist__checkbox {
    height: auto;
    width: auto;
  }

  .playlist__text {
    position: absolute;
    bottom: 151px;
    left: 98px;
  }

  .copyright {
    position: absolute;
    bottom: 123px;
    left: 98px;
  }

  .age-circle {
    position: absolute;
    bottom: 93px;
    left: 98px;
  }

  .playlist .container {
    position: relative;
    flex-direction: column;
  }

  .playlist__list {
    padding-top: 0;
    margin-bottom: 224px;
  }

  .playlist__left {
    margin-right: 0;
  }

  .playlist__right {
    width: 100%;
  }

  .playlist__article>picture>img {
    height: 96%;
  }

  .age-18 {
    padding-top: 27px;
  }

  .adv .container {
    justify-content: space-between;
  }

  .adv__left {
    padding-top: 211px;
    width: 49%;
  }

  .adv__img {
    position: relative;
  }

  .adv__new {
    top: 0;
    left: 4px;
    width: 25%;
  }

  .adv__right {
    width: 48%;
  }

  .adv__price {
    margin-bottom: 30px;
  }

  .adv__btn {
    display: inline-flex;
    padding: 23px 12px;
    margin-bottom: 94px;
  }

  .container--about {
    background-image: url(../img/Dawn.png);
    background-repeat: no-repeat;
    background-position: 87% 143px;
  }

  .about__greetings {
    width: 75%;
  }

  .about__text {
    width: 65%;
    margin-bottom: 30px;
  }

  .swiper-button-prev {
    left: 35px;
    top: 37%;
  }

  .swiper-button-next {
    right: 35px;
    top: 37%;
  }

  .about__content {
    margin-bottom: 29px;
  }

  .about__form {
    justify-content: space-between;
    width: 100%;
  }

  .form-container--name {
    margin-right: 0;
  }

  .footer {
    justify-content: center;
  }

  .footer .container {
    justify-content: space-between;
  }

  .footer__right {
    width: 53%;
  }

  .footer__left {
    margin-right: 221px;
    margin-left: auto;
  }

  .footer__list {
    padding-top: 94px;
  }

  .footer__item:not(:nth-child(3n)) {
    margin-right: 54px;
  }

  .footer__item {
    width: 16%;
  }

  .footer {
    background-position: center 88%
  }

  .footer__left .container {
    margin-left: 0;
  }

  .footer__right .container {
    margin-right: 0;
  }

  .footer__nav {
    max-width: 443px;
  }
}

@media(max-width:1024px) {

  .header-bottom__title {
    width: 89px;
  }

  .main-title {
    width: 58%;
  }

  .guests__main {
    padding-bottom: 94px;
  }

  .guests-content__item {
    font-size: 1.56vw;
  }

  .playlist__form {
    width: 65%;
    /* width: 61%; Pixel Perfect 1024px*/
  }

  .playlist__checkbox label {
    font-size: 1.953vw;
  }

  .playlist__list {
    justify-content: space-between;
  }

  .playlist__item {
    margin-bottom: 25px;
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlist__article {
    min-height: auto;
  }

  .playlist__article>picture {
    margin-bottom: 0px;
  }



  .playlist-article__title {
    padding-right: 8px;
  }

  .playlist-article__content {
    margin-bottom: 5px;
  }

  .playlist__text::before {
    top: -39px;
  }

  .copyright {
    margin-bottom: 6px;
  }

  .footer__left .container {
    padding-left: 0;
  }
}

@media(max-width:992px) {

  .container,
  .about__content {
    padding: 0 114px;
    max-width: 768px;
  }

  .header::before {
    bottom: 0px;
  }

  .header::after {
    top: 140px;
  }

  .header__top::before {
    display: none;
  }

  .header__top::after {
    display: none;
  }

  .header__top {
    position: relative;
    padding: 20px 0;
    margin-bottom: 0;
    justify-content: space-between;
  }

  .header-top__nav {
    position: absolute;
    margin-left: calc(-50vw + 50%);
    top: 0;
    padding: 106px 0 0 114px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: var(--grey);
    background-image: url('../img/spiral-in-menu.png'), url('../img/spiral-in-menu.png');
    background-repeat: no-repeat;
    background-position: 57% 100%, 75% -6%;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-120%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  .header-top__nav--active {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  .nav__list {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

  .nav__item {
    font-size: 20px;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__item:not(:nth-child(3n)) {
    margin-bottom: 64px;
  }

  .burger {
    display: block;
    position: relative;
    width: 24px;
    height: 23px;
    z-index: 110;
  }

  .burger:focus {
    outline: none;
  }

  .burger:focus .burger__line {
    background-color: var(--violet-light);
  }

  .burger:hover .burger__line,
  .burger:active .burger__line {
    background-color: var(--violet-dark);
  }

  .burger__line {
    position: absolute;
    left: 50%;
    top: 49%;
    width: 24px;
    height: 3px;
    border-radius: 4px;
    background-color: var(--violet);
    transform-origin: center;
    transform: translateX(-50%);
    transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .burger__line:first-child {
    top: 0;
  }

  .burger__line:last-child {
    top: auto;
    bottom: -1px;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:nth-child(1) {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
  }

  .burger--active .burger__line:nth-child(3) {
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    transition: transform .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
  }

  .log-in {
    width: 539px;
    padding: 60px 40px 63px 39px;
  }

  .log-in__input {
    width: 459px;
  }

  .search-btn {
    padding: 0;
    margin-left: auto;
    margin-right: 24px;
    margin-top: 8px;
  }

  .login-btn {
    margin-top: 0;
    margin-left: 0;
  }

  .search {
    margin-left: 38%;
  }

  .header__bottom {
    padding: 20px 0;
    justify-content: space-between;
  }

  .header-bottom__nav {
    padding: 0;
    width: auto;
    margin-right: 16px;
  }

  .header-bottom__item:not(:last-child) {
    margin-right: 29px;
  }

  .header__top::after {
    top: 144px;
  }

  .header-bottom__content {
    display: none;
  }

  .header-bottom__btn {
    margin: 0;
    padding: 0;
  }

  .header-bottom__btn::before {
    display: none;
  }

  .header-bottom__btn--now {
    display: none;
  }

  .play-btn {
    margin-right: 2px;
  }

  .main-title {
    width: 100%;
    padding-top: 92px;
  }

  .hero__text {
    width: 98%;
  }

  .hero .container {
    background-image: none;
  }

  .podcasts__item:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .podcasts__item {
    width: 100%;
  }

  .broadcast-left {
    width: calc(100% / 2 - var(--gap) / 2);
    margin-right: 0;
    background-image: none;
  }

  .broadcast__title {
    padding-top: 96px;
  }

  .choices {
    width: 100%;
  }

  .broadcast-left__top {
    margin-bottom: 46px;
  }

  .broadcast .container {
    flex-direction: column;
    position: relative;
    padding-bottom: 188px;
  }

  .broadcast .container::before {
    content: '';
    position: absolute;
    bottom: 156px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--grey-light);
  }

  .broadcast-left__bottom {
    bottom: 0px;
    position: absolute;
    left: 50%;
    background-image: url('../img/mic.png');
    background-repeat: no-repeat;
    background-position: 6% 1px;
    background-size: 69px;
    transform: translateX(-50%);
  }

  .broadcast__list {
    padding: 0;
  }

  .archive-btn {
    margin-left: 50%;
    margin-bottom: 8px;
    transform: translateX(-50%);
  }

  .broadcast__text {
    display: block;
    width: 71%;
    margin-left: auto;
  }

  .broadcast__right {
    width: 100%;
  }

  .guests__text {
    width: 100%;
  }

  .guests__main {
    flex-direction: column;
    justify-content: start;
    padding-bottom: 107px;
  }

  .guests__left {
    width: 100%;
    margin-bottom: 50px;
  }

  .guests__content.guests-content {
    padding-bottom: 4px;
  }

  .guests-content__item {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .guests__right {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .guests__img {
    margin-bottom: 10px;
    height: 220px;
    width: 540px;
    object-fit: cover;
  }

  .guests__description {
    display: block;
    width: 75%;
  }

  .guests__socials {
    margin-bottom: 8px;
  }

  .playlist__form {
    width: 100%;
    margin-bottom: 14px;
  }

  .playlist__list {
    margin-bottom: 249px;
  }

  .playlist__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .playlist__checkbox:not(:nth-child(4n)) {
    margin-bottom: 39px;
  }

  .playlist__checkbox {
    width: auto;
  }

  .playlist__checkbox label {
    font-size: 20px;
  }

  .playlist__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .playlist__item {
    width: 47%;
  }

  .playlist-article__title {
    font-size: 16px;
  }

  .playlist-article__description {
    font-size: 12px;
  }

  .playlist__text {
    bottom: 151px;
    left: 112px;
    width: 63%;
  }

  .copyright {
    bottom: 123px;
    left: 112px;
  }

  .age-circle {
    bottom: 94px;
    left: 112px;
  }

  .playlist .container {
    margin-bottom: 0;
  }

  .adv .container {
    flex-direction: column;
  }

  .adv__left {
    width: 100%;
    padding-top: 54px;
    margin-right: 0;
    margin-left: 0;
  }

  .adv__new {
    left: 6px;
    top: 2px;
    width: 29%;
  }

  .adv__right {
    width: 100%;
    background-image: url('../img/wave-1024.png');
    background-repeat: no-repeat;
    background-position-y: 23%;
  }

  .adv__title {
    width: 78%;
    padding-top: 45px;
    font-size: 48px;
  }

  .adv__title::after {
    display: none;
  }

  .about__greetings {
    width: 100%;
  }

  .about__text {
    width: 97%;
    margin-bottom: 100px;
  }

  .container--about {
    background-image: none;
  }

  .about {
    background-image: url('../img/Dawn.png');
    background-repeat: no-repeat;
    background-position: 83% 30%;
    background-size: 112px;
  }

  .about__content {
    margin-bottom: 22px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 35%;
  }

  .swiper-button-prev span {
    transform-origin: -1px;
  }

  .swiper-button-next span {
    transform-origin: 9.5px;
  }

  .form-container {
    width: 100%;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
  }

  .footer__left .container {
    padding-left: 0;
  }

  .footer-socials__link {
    display: block;
    width: 30px;
    height: 30px;
  }

  .footer-socials__link>svg {
    width: 100%;
    height: 100%;
  }

  .footer__socials {
    padding-left: 10px;
  }

  .footer__right {
    width: 100%;
    margin-bottom: 70px;
  }

  .footer__right .container {
    padding-left: 114px;
  }

  .footer__item:not(:nth-child(3n)) {
    margin-right: 164px;
  }

  .footer__item {
    width: 12%;
    margin-bottom: 30px;
    flex-basis: auto;
  }

  .footer__nav {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__list {
    width: 100%;
    padding-top: 84px;
  }

  .footer {
    flex-direction: column;
    justify-content: start;
    background-position: center 92%;
  }

}

@media(max-width:768px) {

  .search,
  .search:focus {
    width: 40%;
  }

  .search::placeholder {
    width: 100%;
  }

  .header-bottom__item {
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 2.083vw;
  }

  .header-bottom__item:not(:last-child) {
    margin-right: 0;
  }

  .header-bottom__nav {
    width: 100%;
    margin-right: 22px;
  }

  .header-bottom__list {
    justify-content: space-between;
  }

  .main-title {
    font-size: 7.813vw;
  }

  .podcasts__caption {
    font-size: 2.604vw;
  }

  .podcasts__name {
    font-size: 2.083vw;
  }

  .podcasts__btn {
    padding-right: 7%;
  }

  .broadcast-left {
    width: 345px;
  }

  .choices {
    width: 255px;
  }

  .broadcast__img {
    background-position-x: center;
  }

  .broadcast__article {
    margin-bottom: 31px;
  }

  .broadcast-article__description {
    font-size: 1.563vw;
  }

  .broadcast-article__title {
    font-size: 2.604vw;
  }

  .broadcast__text {
    width: 255px;
  }

  .broadcast .container {
    padding-bottom: 188px;
  }

  .broadcast-left__bottom {
    width: 345px;
    height: 96px;
    background-position: left top;
  }

  .broadcast-article__content {
    padding: 19px 14px 17px;
  }

  .guests-content {
    justify-content: space-between;
  }

  .guests-content__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .guests-content__item {
    flex-basis: 160px;
    font-size: 2.083vw;
    ;
  }

  .guests__description {
    max-width: 405px;
    width: auto;
  }

  .guests__main {
    padding-bottom: 105px;
  }

  .playlist__form {
    grid-template-columns: 30% 70%;
    column-gap: 6px;
    width: 100%;
  }

  .playlist__checkbox label {
    padding-left: 3.255vw;
    white-space: unset;
    font-size: 2.604vw;
  }

  .playlist__list {
    margin-bottom: 157px;
  }

  .playlist__item {
    flex-basis: 255px;
  }

  .playlist__item:not(:nth-child(2n)) {
    margin-right: 4px;
  }

  .playlist .container {
    height: auto;
    margin-bottom: 92px;
  }

  .playlist__text {
    bottom: 59px;
  }

  .playlist__text::before {
    left: -2px;
    right: -54px;
    width: auto;
  }

  .copyright {
    bottom: 32px;
  }

  .age-circle {
    bottom: 2px;
  }

  .adv__title {
    width: 91%;
    font-size: 6.250vw;
  }

  .adv__right {
    background-position-y: 156px;
  }

  .adv__new {
    left: 1px;
  }

  .about__text {
    margin-bottom: 172px;
    font-size: 2.604vw;
  }

  .about {
    background-image: url('../img/Dawn.png'), url('../img/spiral-768.png');
    background-position: 82.5% 32%, left 32%;
    background-size: 15%, 67%;
  }

  .swiper-button-prev {
    left: 49px;
  }

  .swiper-button-next {
    right: 49px;
  }

  .footer__item:not(:nth-child(3n)) {
    margin-right: 24%;
  }

  .footer__item {
    min-width: 16%;
    margin-bottom: 30px;
  }

  .footer__list {
    justify-content: space-between;
    padding-top: 80px;
  }

  .footer__right {
    margin-bottom: 42px;
  }
}

@media(max-width:576px) {

  .container {
    padding: 0 32px;
    max-width: 320px;
  }

  .log-in {
    width: 256px;
    min-height: 442px;
    padding: 40px 20px 43px 20px;
  }

  .log-in__title {
    margin-bottom: 8px;
    font-size: 24px;
  }

  .log-in__register {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 24px
  }

  .log-in__input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 18px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 16px;
  }

  .log-in__enter,
  .form-btn {
    padding: 12px 56px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 16px;
  }

  .log-in__enter {
    margin-bottom: 40px;
  }

  .log-in__help {
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 24px;
  }

  .log-in__help::before {
    top: -20px;
  }

  .log-in-close {
    top: 20px;
    right: 20px;
    height: 28px;
    width: 28px;
  }

  .log-in-close svg {
    width: 100%;
    height: 100%;
  }

  .logo__link {
    padding-top: 20px;
    padding-bottom: 14px;
  }

  .logo__img {
    width: 87px;
    height: auto;
  }

  .login-btn {
    position: absolute;
    top: -42px;
    right: 0;
    padding: 7px 22px;
  }

  .header__top {
    padding: 7px 0;
  }

  .search-btn {
    margin-right: 0;
  }

  .search,
  .search:focus {
    width: 70%;
  }

  .search {
    right: 28px;
  }

  .header-top__nav {
    padding: 61px 37px 24px 32px;
    height: 60vh;
    background-image: none;
  }

  .nav__list {
    width: auto;
    max-width: 251px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav__item:nth-child(4) {
    padding-top: 30px;
  }

  .nav__item:nth-child(1) {
    margin-right: 48px;
  }

  .header-bottom__nav {
    position: absolute;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    top: 50vh;
    padding: 30px 37px 30px 32px;
    width: 100vw;
    height: 40vh;
    z-index: 100;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-120%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  .header-bottom__nav--active {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  .header-bottom__list {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    height: 150px;
    max-width: 251px;
    margin-right: auto;
    margin-left: auto;
  }

  .header-bottom__item {
    font-size: 16px;
  }

  .header-bottom__item:first-child {
    margin-right: 42px;
  }

  .header-bottom__item:not(:nth-child(3n)) {
    margin-bottom: 30px;
  }

  .air {
    display: flex;
    width: 100%;
    margin-left: 51%;
    margin-bottom: 22px;
    transform: translateX(-50%);
  }

  .header__bottom {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    padding-top: 14px;
  }

  .air__title {
    margin-left: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--violet);
  }

  .header::before {
    bottom: auto;
    top: 104px;
  }

  .header::after {
    top: 148px;
  }

  .header-bottom__btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    visibility: hidden;
    transform: translateY(-120%) scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out, visibility 0.1s ease-in-out;
  }

  .header-bottom__btn--active {
    visibility: visible;
    transform: none;
    transition: transform 0.3s ease-in-out, visibility 0.1s ease-in-out;
  }

  .header-bottom__btn--active .header-bottom__content {
    margin-bottom: 36px;
    transition: margin-bottom 0.3s ease-in-out;
  }

  .header-bottom__content {
    display: block;
    transition: margin-bottom 0.3s ease-in-out;
  }

  .play-btn {
    margin-right: 0px;
    margin-bottom: 8px;
  }

  .header-bottom__title {
    padding: 0;
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 100%;
  }

  .header-bottom__btn--now::after {
    right: auto;
    left: -28px;
    height: 62px;
  }

  .header-bottom__btn--now span {
    display: block;
    margin-left: 0;
  }

  .air--active svg {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }

  .air svg {
    transition: transform 0.3s ease-in-out;
  }

  .air:focus circle {
    fill: var(--violet-light);
  }

  .air:focus {
    outline: none;
  }

  .air:hover circle {
    fill: var(--violet);
  }

  .air:active circle {
    fill: var(--violet-dark);
  }

  .main.class--shadow {
    padding-top: 26px;
  }

  .main-title {
    margin-top: -26px;
    margin-bottom: 6px;
    padding: 0;
    font-size: 32px;
    line-height: 100%;
  }

  .hero__text {
    width: 100%;
    font-size: 14px;
    line-height: 150%;
  }

  .hero__btn {
    padding: 16px 45px;
    margin-bottom: 41px;
    font-size: 16px;
    line-height: 16px;
  }

  .section-title {
    padding-top: 54px;
    font-size: 24px;
  }

  .podcasts__title {
    margin-bottom: 17px;
  }

  .podcasts__article {
    flex-direction: column;
    height: auto;
  }

  .podcasts__img {
    margin-top: 2px;
    height: 72px;
  }

  .podcasts__img img {
    min-height: auto;
    object-fit: fill;
  }

  .podcasts__date time {
    padding-top: 5px;
    padding-bottom: 2px;
  }

  .podcasts__content {
    justify-content: start;
    width: 100%;
    min-height: 113px;
  }

  .podcasts__content::after {
    bottom: 27px;
  }

  .podcasts__date {
    bottom: auto;
    top: 0;
  }

  .podcasts__time {
    margin-top: 16px;
    padding-left: 16px;
  }

  .podcasts__caption {
    padding-left: 16px;
    margin-bottom: 1px;
    font-size: 16px;
    line-height: 100%;
  }

  .podcasts__name {
    margin-bottom: 18px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 100%;
  }

  .podcasts__btn {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    margin-top: 24px;
    padding: 0;
  }

  .podcasts__btn svg {
    width: 100%;
    height: 100%;
  }

  .podcasts__item {
    margin-bottom: 28px;
  }

  .stats__list {
    align-items: baseline;
    padding-left: 32px;
    padding-top: 7px;
  }

  .stats__item {
    display: flex;
    align-items: flex-start;
    height: 17px;
    font-size: 12px;
    line-height: 12px;
  }

  .stats__item:first-child {
    padding: 2px;
  }

  .stats__item:not(:last-child) {
    margin-right: 30px;
  }

  .stats__img {
    margin-right: 6px;
  }

  .stats__link {
    display: flex;
    align-items: center;
  }

  .stats__img:first-child {
    height: 11px;
  }

  .podcasts__item:nth-child(n + 5) {
    display: none;
  }

  .podcasts__item.podcasts__item--visible {
    display: block;
  }

  .more__btn {
    margin-top: 3px;
    padding: 15px 27px;
    font-size: 16px;
    line-height: 16px;
  }

  .podcasts__more {
    padding-bottom: 54px;
  }

  .broadcast__author {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 100%;
  }

  .broadcast__title {
    margin-bottom: 19px;
  }

  .broadcast__left {
    width: 100%;
  }

  .broadcast-left__top {
    margin-bottom: 30px;
  }

  .broadcast__article {
    margin-bottom: 30px;
  }

  .broadcast-article__content {
    padding: 9px 9px 12px;
    min-height: 70px;
  }

  .broadcast-article__title {
    margin-bottom: 5px;
    max-width: none;
    font-size: 12px;
    line-height: 100%;
  }

  .broadcast-article__description {
    font-size: 9px;
    line-height: 100%;
  }

  .btn-details {
    margin-top: auto;
    font-size: 12px;
    line-height: 100%;
  }

  .btn-details svg {
    margin-left: 3px;
  }

  .broadcast__img {
    height: 50px;
    min-height: auto;
  }

  .broadcast__item {
    min-height: auto;
  }

  .broadcast-left__bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 19px;
    width: 100%;
    height: 128px;
    background-position: 33px 11px;
    background-size: 77px 105px;
  }

  .broadcast .container {
    padding-bottom: 165px;
  }

  .broadcast .container::before {
    bottom: 164px;
  }

  .archive-btn {
    max-width: 110px;
    margin-left: 55%;
    margin-bottom: 11px;
    padding: 8px 30px;
  }

  .broadcast__text {
    width: 62%;
    padding-top: 12px;
    font-size: 14px;
    line-height: 21px;
  }

  .guests__caption {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 21px;
  }

  .guests__text {
    margin-bottom: 29px;
    font-size: 14px;
    line-height: 160%;
  }

  .guests-item__title {
    font-size: 16px;
    line-height: 16px;
  }

  .guests-item__btn {
    margin-top: 12px;
    margin-bottom: 11px;
    padding-right: 2px;
    width: 28px;
    height: 28px;
    transform-origin: center;
  }

  .guests-item__btn svg {
    height: 100%;
    width: 100%;
  }

  .guests__content.guests-content {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .guests-content__item {
    flex-basis: 83px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 110%;
  }

  .guests-content__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 29px;
  }

  .guests-content__item:not(:nth-child(2n)) {
    margin-right: 60px;
  }

  .guests__content {
    justify-content: start;
  }

  .guests__right {
    max-width: none;
    width: 100%;
  }

  .guests__img {
    height: 159px;
    width: 256px;
  }

  .socials__link {
    height: 30px;
    width: 30px;
  }

  .socials__link svg {
    width: 100%;
    height: 100%;
  }

  .guests__socials {
    margin-bottom: 15px;
  }

  .socials__link:not(:last-child) {
    margin-right: 27px;
  }

  .guests__description {
    margin-bottom: 39px;
  }

  .guests__btn {
    padding: 8px 12px;
  }

  .guests__main {
    padding-bottom: 63px;
  }

  .swiper-container {
    padding-left: 47px;
    padding-right: 0;
    max-width: 576px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    overflow: hidden;
  }

  .playlist__genre {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 100%;
  }

  .playlist__title {
    margin-bottom: 19px;
  }

  .playlist__form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .playlist .container {
    overflow: visible;
  }

  .playlist__checkbox {
    margin-right: 0;
    margin-bottom: 0;
    width: auto;
    height: 35px;
    margin-right: 38px;
  }

  .playlist__checkbox:not(:nth-child(4n)) {
    margin-bottom: 0;
  }

  .playlist__checkbox label {
    display: block;
    padding-left: 3px;
    font-size: 16px;
    line-height: 16px;
    color: var(--violet);
    z-index: 0;
    transition: color 0.3s ease-in-out;
  }

  .playlist__checkbox input[type="radio"]:checked+label::before,
  .playlist__checkbox input[type="radio"]+label:active::before {
    top: -11px;
    left: -17px;
    right: -23px;
    bottom: -9px;
    height: auto;
    width: auto;
    border-width: 2px;
    border-color: var(--violet);
    background-color: transparent;
    transition: none;
  }

  .playlist__checkbox input[type="radio"]:checked+label,
  .playlist__checkbox input[type="radio"]+label:active {
    color: white;
  }

  .playlist__checkbox label::before {
    top: -11px;
    left: -20px;
    right: -24px;
    bottom: -9px;
    height: auto;
    width: auto;
    border: 2px solid var(--violet);
    border-radius: 77px;
    z-index: 0;
    transition: none;
  }

  .playlist__checkbox input[type="radio"]:checked+label::after,
  .playlist__checkbox input[type="radio"]:active+label::after {
    top: -11px;
    left: -17px;
    right: -23px;
    bottom: -9px;
    height: auto;
    width: auto;
    background-color: var(--violet);
    border-color: transparent;
    z-index: -1;
    transition: none;
  }

  .playlist__checkbox label::after {
    top: -8.5px;
    left: -17px;
    height: 30px;
    width: auto;
    border-radius: 77px;
    transition: none;
  }

  .swiper-radio {
    margin-bottom: 12px;
  }

  .playlist__item {
    flex-basis: auto;
    width: auto;
    margin-bottom: 24px;
  }

  .playlist-article {
    flex-direction: column;
    min-width: auto;
    width: 113px;
  }

  .playlist__article>picture {
    margin-bottom: -5px;
  }

  .playlist-article picture img {
    width: 100%;
  }

  .flag {
    left: auto;
  }

  .playlist-article__content {
    width: auto;
    padding: 10px 4px 7px 9px;
  }

  .playlist-article__title {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 100%;
  }

  .playlist-article__description {
    font-size: 9px;
    line-height: 100%;
  }

  .playlist__article::before {
    top: 35%;
  }

  .playlist__list {
    margin-bottom: 195px;
  }

  .playlist__text {
    bottom: 112px;
    left: 30px;
    width: 75%;
    font-size: 12px;
    line-height: 16px;
  }

  .playlist__text::before {
    top: -29px;
    right: -14px;
  }

  .copyright {
    bottom: 84px;
    left: 29px;
    margin-bottom: 6px;
    width: auto;
    font-size: 12px;
    line-height: 22px;
  }

  .playlist .container {
    margin-bottom: 0;
  }

  .age-18 {
    bottom: 54px;
    left: 30px;
  }

  .adv__left {
    margin-left: 1px;
  }

  .adv__new {
    left: 0px;
    top: 0px;
    width: 24%;
  }

  .adv__title {
    width: 100%;
    padding-top: 32px;
    margin-bottom: 40px;
  }

  .adv__right {
    background-position-y: 89px;
  }

  .adv__description {
    font-size: 14px;
    line-height: 22px;
  }

  .adv__description--2 {
    margin-bottom: 12px;
  }

  .adv__price {
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 100%;
  }

  .adv__btn {
    padding: 13px 15px 12px;
    margin-bottom: 56px;
    font-size: 16px;
  }

  .about__greetings {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .about__title {
    margin-bottom: 11px;
  }

  .about__text {
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 156%;
  }

  .about__content {
    padding-left: 32px;
    padding-right: 0;
    margin-bottom: 21px;
    max-width: 544px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .about__swiper-slide {
    width: 113px;
  }

  .about .container {
    background-image: none;
  }

  .about__name {
    width: 96%;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }

  .about__img {
    margin-bottom: 13px;
  }

  .about__description {
    font-size: 12px;
    line-height: 16px;
  }

  .about__textarea {
    padding: 16px 23px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 100%;
  }

  .about__input {
    height: 50px;
    padding-left: 22px;
    font-size: 16px;
    line-height: 16px;
  }

  .about {
    background-image: none;
  }

  .form-btn {
    padding: 17px 45px;
    margin-bottom: 18px;
    width: 172px;
  }

  .agree {
    padding-left: 21px;
    font-size: 9px;
    line-height: 100%;
  }

  .about__form {
    padding-bottom: 51px;
  }

  .footer__logo {
    padding-top: 54px;
  }

  .footer__item {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 100%;
  }

  .footer__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 24px;
  }

  .footer__list {
    padding-top: 31px;
    margin-bottom: 30px;
  }

  .footer__item:not(:nth-child(3n)) {
    margin-right: 72px;
  }

  .footer__item {
    margin-right: 72px;
  }

  .footer__socials {
    padding-left: 10px;
    margin-bottom: 56px;
  }

  .footer__right {
    margin-bottom: 0;
    background-color: var(--dark-color);
  }

  .footer__right .container {
    padding-left: 32px;
  }

  .footer__wave {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
  }

  .footer {
    background-position: center 93%;
  }

  .footer__nav {
    max-width: 256px;
  }

}