html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular_Italic'),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light-Italic'),
    url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('Open-Sans'),
    url('../fonts/open-sans-v34-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v34-cyrillic-regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

:root {
  --dark-color: #121723;
  --lighter-dark-color: #292E39;
  --grey: #D2D5DD;
  --violet: #6D31EE;
  --violet-light: #AA9DFA;
  --violet-dark: #4F28A5;
  --grey-dark: #A1A6B4;
  --grey-light: #E6E8EC;

  --gap: 30px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  min-width: 320px;
  width: 100%;
  font-weight: 400;
}

.container,
.about__content {
  padding: 0 100px;
  max-width: 1310px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title-reset {
  margin: 0;
  font-size: 0;
}

.stop-scroll {
  overflow: hidden;
}

/* HEADER=================================================================== */

.air {
  display: none;
}

.burger {
  display: none;
}

.header {
  position: relative;
}

.logo {
  display: none;
}

.header__logo {
  display: block;
  width: 17%;
  margin-right: 6%;
  padding-top: 4px;
  cursor: pointer;
}

.header__top {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 21px;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0px;
  top: 80px;
  border-bottom: 1px solid var(--grey-light);
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0px;
  bottom: 0;
  border-bottom: 1px solid var(--grey-light);
}

.header-top__nav {
  width: 70%;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-right: 8.2%;
}

.nav__item {
  margin-bottom: 6px;
  margin-top: 6px;
  color: var(--dark-color);
  font-size: 20px;
  line-height: 20px;
}

.nav__link {
  position: relative;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -5px;
  left: -5px;
  bottom: -3px;
  z-index: -1;
  background-color: var(--violet-light);
  opacity: 0;
  transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
}

.nav__link:focus::after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.nav__link:focus {
  outline: none;
  color: #fff;
  transition: color .3s ease-in-out;
}

.nav__link:hover {
  color: var(--violet);
  transition: color .3s ease-in-out;
}

.nav__link:hover::after {
  background: none;
  transition: background .3s ease-in-out;
}

.nav__link:active::after {
  background: none;
  transition: background .3s ease-in-out;
}

.nav__link:active {
  color: var(--violet-dark);
  transition: color .3s ease-in-out;
}

.search-btn path {
  transition: stroke .3s ease-in-out;
}

.search-btn:hover path,
.search-btn:focus path {
  stroke: var(--violet-light);
  transition: stroke .3s ease-in-out;
}

.search-btn:focus {
  outline: none;
}

.search-btn:active path {
  stroke: var(--violet-dark);
  transition: stroke .3s ease-in-out;
}

.search[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search[type="search"]:active,
.search[type="search"]:focus,
.search[type="search"] {
  background-color: #fff;
  -webkit-appearance: textfield;
  -webkit-appearance: none;
  border-radius: 0;
}

.search-form {
  position: absolute;
  right: 27.8%;
  top: 28px;
  display: flex;
  visibility: hidden;
  transform-origin: right center;
}

.search-form--active {
  visibility: visible;
  transform-origin: right center;
  transform: scaleX(1);
}

.search-btn {
  position: relative;
  margin-right: 24px;
  margin-left: auto;
  margin-top: 4px;
}

.search {
  position: absolute;
  right: 155px;
  padding-top: 21px;
  width: 284px;
  border: none;
  border-bottom: 1px solid var(--violet);
  z-index: 10;
  visibility: hidden;
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.search--active {
  visibility: visible;
  transform: scaleX(1);
  transition: transform .3s ease-in-out;

  z-index: 10;
}

.search::placeholder,
.search::-moz-placeholder,
input[type="search"]::-moz-placeholder {
  width: 284px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--grey-dark);
}

.search:focus {
  width: 284px;
  outline: none;
}

.login-btn {
  position: relative;
  padding: 9px 31px;
  border: 2px solid var(--dark-color);
  border-radius: 77px;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.login-btn svg {
  position: absolute;
  left: 19px;
  bottom: 11px;
}

.login-btn:focus,
.archive-btn:focus {
  outline: none;
  background-color: var(--violet-light);
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.login-btn:hover,
.archive-btn:hover {
  background-color: var(--dark-color);
  color: #fff;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.login-btn path {
  transition: stroke .3s ease-in-out;
}

.login-btn:hover path {
  stroke: #fff;
  transition: stroke .3s ease-in-out;
}

.login-btn:active,
.archive-btn:active {
  border-color: var(--violet-dark);
  color: #fff;
  background-color: var(--violet-dark);
  transition: background .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-out;
}

.login-btn:active path {
  stroke: #fff;
  transition: stroke .3s ease-in-out;
}

.log-in {
  position: absolute;
  left: 50%;
  top: 80px;
  padding: 60px;
  z-index: 1000;
  overflow: auto;
  visibility: hidden;
  width: 824px;
  min-height: 655px;
  background-color: var(--dark-color);
  transform-origin: right top;
  transform: translateY(-120%) translateX(-50%);
  transition: visability .3s ease-in-out, transform .1s ease-in-out;
}

.log-in--active {
  visibility: visible;
  transform-origin: right top;
  transform: translateY(0) translateX(-50%);
  transition: visability .3s ease-in-out, transform .3s ease-in-out;
}

.class--shadow {
  opacity: 0.5;
  transition: background .4s ease-in-out;
}

.log-in__title {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #fff;
}

.log-in__register {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.log-in__register span {
  color: var(--violet);
}

.log-in__form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.log-in__input {
  width: 526px;
  height: 70px;
  margin-bottom: 30px;
  padding-left: 32px;
  padding-right: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: transparent;
  color: #fff;
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.log-in__input::placeholder {
  color: var(--grey-dark);
}

.log-in__input:focus,
.log-in__input:hover {
  background-color: var(--lighter-dark-color);
  outline: 1px solid var(--violet-light);
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.log-in__input:hover {
  outline: 1px solid #fff;
}

.log-in__input:active {
  background-color: var(--dark-color);
  transition: background-color .3s ease-in-out;
}

.log-in__enter,
.form-btn {
  padding: 25px 54px;
  margin-bottom: 60px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  background-color: var(--violet);
}

.log-in__enter:focus {
  outline: none;
}

.log-in__help {
  position: relative;
  display: block;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.log-in__help::before {
  content: '';
  position: absolute;
  top: -30px;
  width: 100%;
  border-top: 1px solid rgba(230, 232, 236, 0.4);
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 46px;
}

.socials__link--fb svg>path,
.socials__link--vk rect,
.socials__link--ggl rect {
  transition: fill .3s ease-in-out;
}

.socials__link--fb:focus svg>path {
  fill: var(--violet-light);
  transition: fill .3s ease-in-out;
}

.socials__link:focus {
  outline: none;
}

.socials__link--vk:focus rect,
.socials__link--ggl:focus rect {
  fill: var(--violet-light);
  transition: fill .3s ease-in-out;
}

.socials__link--fb:hover svg>path {
  fill: var(--violet);
  transition: fill .3s ease-in-out;
}

.socials__link--vk:hover rect,
.socials__link--ggl:hover rect {
  fill: var(--violet);
  transition: fill .3s ease-in-out;
}

.socials__link--fb:active svg>path {
  fill: var(--violet-dark);
  transition: fill .3s ease-in-out;
}

.socials__link--vk:active rect,
.socials__link--ggl:active rect {
  fill: var(--violet-dark);
  transition: fill .3s ease-in-out;
}

.log-in-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.log-in-close circle,
.log-in-close path {
  transition: stroke .3s ease-in-out;
}

.log-in-close:focus {
  outline: none;
}

.log-in-close:focus circle,
.log-in-close:focus path {
  stroke: var(--violet-light);
  transition: stroke .3s ease-in-out;
}

.log-in-close:hover circle,
.log-in-close:hover path {
  stroke: var(--violet);
  transition: stroke .3s ease-in-out;
}

.log-in-close:active circle,
.log-in-close:active path {
  stroke: var(--violet-dark);
  transition: stroke .3s ease-in-out;
}

.form-container {
  position: relative;
}

.header__bottom {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 21px;
}

.header-bottom__nav {
  width: 57%;
  margin-right: 44px;
}

.header-bottom__list {
  display: flex;
  flex-wrap: wrap;
}

.header-bottom__item {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark-color);
}

.header-bottom__item:not(:last-child) {
  margin-right: 8.3%;
}

.header-bottom__play {
  display: flex;
}

.header-bottom-play__item:not(:last-child) {
  margin-right: 15px;
}

.header-bottom__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom__btn--now {
  margin-left: 61px;
}

.header-bottom__btn path {
  transition: fill .3s ease-in-out;
}

.header-bottom__btn:focus path {
  fill: var(--violet-light);
  transition: fill .3s ease-in-out;
}

.header-bottom__btn:hover path {
  fill: var(--violet);
  transition: fill .3s ease-in-out;
}

.header-bottom__btn:active path {
  fill: var(--violet-dark);
  transition: fill .3s ease-in-out;
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.header-bottom__btn:focus {
  outline: none;
}

.header-bottom__title {
  padding-bottom: 4px;
  margin-top: 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--grey-dark);
}

.header-bottom__text {
  font-size: 16px;
  line-height: 16px;
  color: var(--dark-color);
}

.age--12 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 46px;
  height: 60px;
  background-color: var(--grey-light);
}

.age-circle {
  padding: 5px;
  width: 30px;
  height: 30px;
  background: #FFF;
  border-radius: 100px;
}

.age-circle span {
  color: var(--grey-dark);
  font-family: 'Open-Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.header-bottom__btn::before {
  content: "";
  position: absolute;
  left: -14px;
  height: 40px;
  width: 1px;
  background-color: var(--grey-light);
}

.header-bottom__btn--now::after {
  content: "";
  position: absolute;
  right: -44px;
  height: 40px;
  width: 1px;
  background-color: var(--grey-light);
}

/* HERO================================================================================ */

.main-title {
  padding-top: 95px;
  margin-bottom: 14px;
  width: 42%;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--dark-color);
}

.main-title span {
  font-style: italic;
}

.hero__text {
  width: 54%;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-color);
}

.hero__link {
  position: relative;
  color: var(--violet);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.hero__link::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -2px;
  bottom: -3px;
  left: -2px;
  background-color: var(--violet-light);
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.hero__link:focus {
  outline: none;
  color: #fff;
}

.hero__link:focus::after {
  opacity: 1;
}

.hero__link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-bottom: 1px solid var(--violet);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.hero__link:hover {
  color: var(--violet);
}

.hero__link:hover::before {
  opacity: 1;
}

.hero__link:hover::after {
  opacity: 0;
}

.hero__link:active {
  color: var(--violet-dark);
}

.hero__link:active::before {
  border-color: var(--violet-dark);
}

.hero__btn {
  display: inline-block;
  padding: 25px 54px;
  margin-bottom: 94px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  border-radius: 40px;
  background-color: var(--violet);
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.hero__btn:focus,
.about__btn:focus,
.log-in__enter:focus {
  outline: 2px solid var(--violet-dark);
  outline-offset: -2px;
  background-color: var(--violet-light);
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.hero__btn:hover,
.about__btn:hover,
.log-in__enter:hover {
  outline: none;
  background-color: var(--violet-light);
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.hero__btn:active,
.about__btn:active,
.log-in__enter:active {
  background-color: var(--violet-dark);
  transition: background-color .3s ease-in-out;
}

.hero .container {
  background-image: url('../img/microphone.png');
  background-repeat: no-repeat;
  background-position: 89% 42%;
}

/* PODCASTS======================================================================== */

.podcasts {
  background: #F2F2F2;
}

.section-title {
  padding-top: 94px;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

.podcasts__title {
  margin-bottom: 30px;
  color: var(--dark-color);
}

.podcasts__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.podcasts__item {
  margin-bottom: 24px;
  width: calc(50% - var(--gap) / 2);
}

.podcasts__item:not(:nth-child(2n)) {
  margin-right: var(--gap);
}

.podcasts__item:nth-child(n + 9) {
  display: none;
}

.podcasts__item.podcasts__item--visible {
  display: block;
}

.podcasts__article {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 96%;
}

.podcasts__img {
  position: relative;
}

.podcasts__img img {
  height: 100%;
  min-height: 140px;
  object-fit: contain;

}

.podcasts__date {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1px;
  min-height: 16px;
  width: 51px;
  background-color: var(--grey-light);
}

.podcasts__date time {
  padding: 0 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: var(--dark-color);
}

.podcasts__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 112px);
  min-height: 140px;
  height: 100%;
  background-color: #fff;
}

.podcasts__content::after {
  content: '';
  position: absolute;
  bottom: 31px;
  width: 100%;
  height: 1px;
  background-color: var(--grey-light);
}

.podcasts__top {
  display: flex;
  justify-content: space-between;
}

.podcasts__time {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 8px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--dark-color);
}

.podcasts__caption {
  padding-left: 30px;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-color);
}

.podcasts__name {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--grey-dark);
}

.podcasts__btn {
  padding-right: 30px;
  padding-top: 20px;
}

.podcasts__btn:focus {
  outline: none;
}

.podcasts__btn circle,
.podcasts__btn path {
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.podcasts__btn:focus circle {
  stroke: var(--violet-light);
}

.podcasts__btn:focus path {
  fill: var(--violet-light);
}

.podcasts__btn:hover circle {
  stroke: var(--violet);
}

.podcasts__btn:hover path {
  fill: var(--violet);
}

.podcasts__btn:active circle {
  stroke: var(--violet-dark);
  fill: var(--violet-dark)
}

.podcasts__btn:active path {
  fill: #fff;
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}

.stats__item {
  display: inline;
  min-width: 30px;
  margin-top: -4px;
  margin-bottom: 4px;
}

.stats__img:first-child {
  height: 15px;
}

.stats__item:not(:last-child) {
  margin-right: 27px;
}

.stats__img {
  display: inline;
  margin-right: 2px;
}

.stats__link {
  position: relative;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.stats__link:focus {
  padding: 3px 2px 1px;
  outline: none;
  background-color: var(--violet-light);
  color: #fff;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.stats__img path {
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.stats__link:focus .stats__img path {
  stroke: #fff;
  transition: stroke .3s ease-in-out;
}

.stats__link:hover {
  background: none;
  color: var(--violet);
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.stats__link:hover .stats__img path {
  stroke: var(--violet);
  transition: stroke .3s ease-in-out;
}

.stats__link:active {
  color: var(--violet-dark);
}

.stats__link:active .stats__img path {
  stroke: var(--violet-dark);
  fill: var(--violet-dark);
  transition: fill .2s ease-in-out, stroke .3s ease-in-out;
}

.podcasts__more {
  padding-bottom: 94px;
  text-align: center;
}

.more__btn {
  margin-top: 32px;
  padding: 23px 52px;
  border: 2px solid var(--violet);
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--violet);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.more__btn:focus {
  outline: none;
  color: #FFF;
  background-color: var(--violet-light);
}

.more__btn:hover {
  color: #FFF;
  background-color: var(--violet);
}

.more__btn:active {
  color: #FFF;
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.podcasts__more--hidden {
  display: none;
}

/* BROADCASTS======================================================= */

.broadcast .container {
  display: flex;
  padding-bottom: 67px;
}

.broadcast__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 4 + (var(--gap)) / 2);
  margin-right: calc(var(--gap) / 2);
  background-image: url('../img/mic.png');
  background-repeat: no-repeat;
  background-position: left 75%;
}

.broadcast__title {
  margin-bottom: 10px;
  color: var(--dark-color);
}

.broadcast__author {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 16px;
  color: var(--grey-dark)
}

.is-open .is-selected {
  display: none;
}

.choices {
  width: 94%;
  border-radius: 10px;
  border-color: var(--grey-light);
  background-color: var(--grey-light);
  transition: outline .3s ease-in-out, border .3s ease-in-out;
}

.choices__inner {
  position: relative;
  min-height: 40px;
  padding: 8px;
  z-index: 10;
  border-color: var(--grey-light);
  border-radius: 10px;
  background-color: var(--grey-light);
  transition: background-color .3s ease-in-out,
    border-color .3s ease-in-out;
}

.is-open .choices__inner {
  border-color: var(--grey-light);
  border-radius: 10px;
  background-color: var(--grey-light);
  z-index: 10;
}

.choices.is-focused.is-open {
  border: none;
}

.choices__list--dropdown .is-active {
  z-index: 0;
}

.choices[data-type*=select-one]::after {
  content: '';
  height: 7px;
  width: 13px;
  right: 15px;
  z-index: 10;
  border: none;
  background-image: url('../img/select.svg');
}

.choices[data-type*=select-one].is-open::after {
  content: '';
  margin-top: -3px;
  background-image: url('../img/select.svg');
  transform: rotate(180deg);
}

.choices:focus,
.is-focused {
  border: 1px solid var(--violet);
  z-index: 10;
}

.is-focused .choices__inner {
  border: none;
}

.choices__inner:hover {
  background-color: #F5F6F7;
  border-color: #F5F6F7;
}

.choices:hover {
  border-color: #F5F6F7;
}

.choices__inner:active {
  background-color: var(--grey);
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  width: 99.9%;
  z-index: 0;
  border-color: var(--grey);
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  color: var(--grey-dark);
}

.choices__list[aria-expanded],
.choices__list--dropdown {
  top: 35px;
  padding-top: 6px;
  z-index: 0;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid var(--grey);
}

.choices__list--single .choices__item {
  border: none;
}

.choices__list--dropdown.is-active {
  z-index: 0;
}

.choices__item:not(:first-child) {
  min-height: 40px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:hover,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:hover {
  background-color: #F5F6F7;
  color: var(--dark-color);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:hover:last-child,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:hover:last-child {
  background-color: #F5F6F7;
  color: var(--dark-color);
  border-radius: 0 0 10px 10px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--violet-light);
  color: var(--dark-color);
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 20px;
}

.broadcast-left__bottom {
  margin-bottom: 30px;
}

.archive-btn {
  display: inline-block;
  position: relative;
  margin-top: auto;
  margin-bottom: 12px;
  padding: 10px 54px;
  border: 2px solid var(--dark-color);
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.broadcast__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--grey-dark);
}

.broadcast__right {
  width: calc(100% / 4 * 3 + var(--gap) * 2);
}

.broadcast__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 108px;
  width: 100%;
}

.broadcast__item {
  width: calc(100% / 3 - var(--gap) * 2 / 3);
  min-height: 260px;
  margin-bottom: 29px;
}

.broadcast__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.broadcast__article {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.broadcast__img {
  height: 148px;
  background-size: cover;
  background-repeat: no-repeat;
}

.broadcast__img--1 {
  background-image: url('../img/broadcast-1@2x.jpg');
}

.broadcast__img--2 {
  background-image: url('../img/broadcast-2@2x.jpg');
}

.broadcast__img--3 {
  background-image: url('../img/broadcast-3@2x.jpg');
}

.broadcast__img--4 {
  background-image: url('../img/broadcast-4@2x.jpg');
}

.broadcast__img--5 {
  background-image: url('../img/broadcast-5@2x.jpg');
}

.broadcast__img--6 {
  background-image: url('../img/broadcast-6@2x.jpg');
}

.broadcast-article__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 19px 14px 18px;

  border: 1px solid var(--grey-light);
}

.broadcast-article__title {
  margin-bottom: auto;
  margin-right: 0;
  width: 100%;
  max-width: 255px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-color);
}

.broadcast-article__description {
  display: block;
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 12px;
  color: var(--grey-dark)
}

.btn-details {
  position: relative;
  display: block;
  margin-top: auto;
  font-style: italic;
  color: var(--dark-color);
  transition: color .3s ease-in-out;
}

.btn-details::after {
  content: '';
  position: absolute;
  top: -1px;
  right: -3px;
  bottom: 19px;
  left: 14px;
  z-index: -1;
  background-color: var(--violet-light);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.btn-details:focus::after {
  opacity: 1;
  outline: none;
  transition: opacity .3s ease-in-out;
}

.btn-details:focus {
  color: #fff;
  outline: none;
  transition: color .3s ease-in-out;
}

.btn-details path {
  transition: fill .3s ease-in-out;
}

.btn-details:focus path {
  fill: #fff;
}

.btn-details:hover {
  color: var(--violet);
  transition: color .3s ease-in-out;
}

.btn-details:hover::after {
  opacity: 0;
}

.btn-details:hover path {
  fill: var(--violet);
}

.btn-details:active {
  color: var(--violet-dark);
  transition: color .3s ease-in-out;
}

.btn-details:active path {
  fill: var(--violet-dark);
}

/* GUESTS========================================================== */

.guests {
  background-color: var(--dark-color);
  color: #fff;
}

.guests__title {
  margin-bottom: 12px;
}

.guests__caption {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--grey-dark);
}

.guests__text {
  margin: 0;
  margin-bottom: 50px;
  width: 75%;
  color: var(--grey-dark);
  font-size: 20px;
  line-height: 160%;
}

.ui-widget {
  font-family: 'Muller';
  font-size: 16px;
  line-height: 16px;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: -1px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr,
.ui-corner-left,
.ui-corner-tl {
  border-radius: 0;
}

.ui-state-default {
  border: none;
  border-bottom: 1px solid var(--grey-dark);
  border-top: 1px solid var(--grey-dark);
  background: transparent;
  color: #fff;
}

.ui-state-focus {
  border-color: var(--grey-dark);
  z-index: 10;
  outline: none;
  background-color: #292E39;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.ui-accordion-header-icon {
  display: none;
}

.ui-accordion-header-active:focus {
  border-color: var(--grey-dark);
  z-index: 10;
  outline: none;
  background-color: #292E39;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.guests-item__container:hover {
  background-color: transparent;
}


.guests-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.guests-item__btn {
  margin-top: 24px;
  margin-bottom: 18px;
  padding-right: 3px;

  pointer-events: none;

  transform-origin: 21px 21px;
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.guests-item__btn:focus {
  outline: none;
}

.guests-item__btn:focus circle {
  fill: var(--violet-dark);
}

.guests-item__btn:hover circle {
  fill: transparent;
  stroke: var(--violet-light);
}

.guests-item__btn:hover path {
  stroke: var(--violet-light);
}

.guests-item__btn:active circle {
  fill: var(--violet-light);
  stroke: var(--violet-light);
}

.guests-item__btn:active path {
  stroke: #fff;
}

.guests-item__btn--active {
  transform: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  border: none;
}

.ui-widget-content {
  background: transparent;
}

.guests__content.guests-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
  padding-bottom: 19px;
}

.ui-widget-content a {
  color: #fff;
}

.guests-content__item {
  width: 22%;
  margin-bottom: 11px;
  color: #fff;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.guests-content__item:not(:nth-child(4n)) {
  margin-right: 4%;
}

.guests__main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 93px;
}

.guests__left {
  width: 65.8%;
}

.guests__right {
  max-width: 350px;
}

.guests__img {
  margin-bottom: 8px;
}

.guests__socials {
  flex-wrap: wrap;
  padding-left: 2px;
  margin-bottom: 10px;
}

.socials__link:not(:last-child) {
  margin-right: 34px;
}

.guests__name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.guests__description {
  margin: 0;
  margin-bottom: 41px;
  font-size: 16px;
  line-height: 180%;
  color: var(--grey-dark);
}

.guests__btn {
  padding: 10px 18px;
  border: 2px solid var(--violet-light);
  border-radius: 77px;
  font-weight: 500;
  color: var(--violet-light);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.guests__btn:focus {
  outline: none;
  color: #fff;
  background-color: var(--violet-light);
}

.guests__btn:hover {
  color: #fff;
  background-color: var(--violet);
  border-color: var(--violet);
}

.guests__btn:active {
  color: #fff;
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.guests__item {
  transition: color .3s ease-in-out;
}

.guests__item:focus {
  border-color: var(--grey-dark);
  outline: none;
  z-index: 10;
  background-color: #292E39;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.guests-item__container:hover .guests-item__title {
  color: var(--violet-light);
  background-color: transparent;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.guests__content:hover .guests-item__title {
  color: #fff;
}

.guests__item path,
.guests__item circle {
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.guests__item:hover path,
.guests__item:hover circle {
  stroke: var(--violet-light);
  transition: stroke .3s ease-in-out;
}

.ui-state-hover {
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.guests__item:active .guests-item__title {
  color: var(--violet-light);
  background-color: transparent;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.ui-accordion-header-active {
  background-color: transparent;
  color: #fff;
}

.guests__item:active circle {
  fill: var(--violet-light);
  stroke: var(--violet-light);
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.guests__item:active path {
  stroke: #fff;
  transition: stroke .3s ease-in-out;
}

.ui-state-active {
  border-color: var(--violet-light);
  color: #FFF;
}

.guests-content__item:focus {
  outline: none;
  color: var(--violet-light);
  transition: color .3s ease-in-out;
}

.guests-content__item:hover,
.guests-content__item:active {
  color: var(--violet-light);
  transition: color .3s ease-in-out;
}

.guests-right__content {
  visibility: hidden;
  transition: visability .3s ease-in-out;
}

.guests-right__content--active {
  visibility: visible;
}

.guests-content__description {
  display: none;
}

.socials-guests__link path {
  transition: fill .3s ease-in-out;
}

.socials-guests__link:focus path {
  fill: var(--violet-light);
}

.socials-guests__link:focus {
  outline: none;
}

.socials-guests__link:hover path {
  fill: var(--violet);
}

.socials-guests__link:active path {
  fill: var(--violet-dark);
}

/* PLAYLIST============================================================== */

.playlist .container {
  display: flex;
}

.playlist__left {
  width: 100%;
  margin-right: 10px;
}

.swiper-container {
  visibility: hidden;
}

.playlist__title {
  margin-bottom: 11px;
  width: 30%;
}

.playlist__form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
  margin-right: 57px;
  width: 100%;
  visibility: visible;
}

.playlist__genre {
  display: block;
  margin-bottom: 13px;
  width: 30%;
  color: var(--grey-dark);
}

.playlist__checkbox input[type="radio"] {
  opacity: 0;
}

.playlist__checkbox label {
  position: relative;
  padding-left: 25px;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-color);
  cursor: pointer;
}

.playlist__checkbox:not(:last-child) {
  margin-bottom: 25px;
}

.playlist__checkbox label::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -15px;
  display: inline-block;
  height: 23px;
  width: 23px;
  border: 2px solid var(--grey-dark);
  border-radius: 100%;
  z-index: 10;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.playlist__checkbox label::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -15px;
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.playlist__checkbox input[type="radio"]:checked+label::after,
.playlist__checkbox input[type="radio"]:active+label::after {
  background-color: transparent;
  border-color: transparent;
}

.playlist__checkbox input[type="radio"]:checked+label::before,
.playlist__checkbox input[type="radio"]+label:active::before {
  height: 13px;
  width: 13px;
  border-width: 7px;
  border-color: var(--violet);
  z-index: 20;
}

.playlist__checkbox input[type="radio"]:focus+label::before {
  height: 23px;
  width: 23px;
  border-width: 2px;
  border-color: var(--violet);
  z-index: 10;
}

.playlist__checkbox input[type="radio"]:focus+label::after {
  background-color: var(--grey-dark);
}

.playlist__checkbox input[type="radio"]:hover+label::before {
  border-color: var(--violet);
}

.playlist__checkbox input[type="radio"]:hover+label::after {
  background-color: transparent;
}

.playlist__text {
  position: relative;
  margin: 0;
  padding-left: 2px;
  line-height: 22px;
  color: var(--grey-dark);
}

.playlist__text::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -40px;
  width: 95%;
  height: 1px;
  background-color: var(--grey);
}

.copyright {
  display: block;
  padding-left: 3px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
  color: var(--grey-dark);
}

.age-18 {
  position: relative;
  padding: 0;
  padding-top: 6px;
  padding-left: 4px;
  margin-left: 2px;
  border: 1px solid var(--grey-dark);
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 16px;
  color: #A1A6B4;
}

.age-18>span {
  position: absolute;
  top: 4px;
}

.playlist__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 108px;
  margin-bottom: 64px;
}

.playlist__article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 100%;
  cursor: pointer;
}

.playlist__article::before {
  content: url('../img/play-article.svg');
  position: absolute;
  top: 56px;
  left: 56px;
  opacity: 0;
  z-index: 10;
  transition: opacity .3s ease-in-out;
}

.playlist__article:focus::before,
.playlist__article:focus::after,
.playlist__article:hover::before,
.playlist__article:hover::after,
.playlist__article:active::before,
.playlist__article:active::after {
  opacity: 1;
}

.playlist__article::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 63px;
  background-color: rgba(7%, 9%, 14%, 0.8);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.playlist__article:focus {
  outline: none;
}

.playlist__article:focus .playlist-article__content {
  background-color: var(--violet-light);
  border-color: var(--violet-light);
}

.playlist__article:focus .playlist-article__description {
  color: var(--dark-color);
}

.playlist__article:hover .playlist-article__content {
  background-color: var(--violet);
  border-color: var(--violet);
}

.playlist__article:active .playlist-article__content {
  background-color: var(--violet-dark);
  border-color: var(--violet-dark);
}

.playlist__article:hover .playlist-article__description,
.playlist__article:hover .playlist-article__title,
.playlist__article:active .playlist-article__description,
.playlist__article:active .playlist-article__title {
  color: #fff;
}

.playlist__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.playlist__item {
  margin-bottom: 30px;
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
}

.playlist__article>picture {
  display: block;
  margin-bottom: -6px;
}

.playlist-article__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px 4px 15px 15px;
  border: 1px solid var(--grey-light);
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.playlist-article__title {
  margin: 0;
  margin-bottom: 4px;
  word-break: break-all;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  transition: color .3s ease-in-out;
}

.playlist-article__description {
  display: inline-block;
  margin-top: auto;
  font-size: 12px;
  line-height: 12px;
  word-wrap: break-word;
  max-width: 150px;
  color: var(--grey-dark);
  transition: color .3s ease-in-out;
}

/* ADV============================================================ */

.adv {
  background-color: #292E39;
}

.adv .container {
  display: flex;
}

.adv__left {
  position: relative;
  width: 60%;
  margin-left: -5px;
  padding-top: 103px;
  margin-right: 4px;
}

.adv__right {
  width: 40%;
}

.adv__new {
  position: absolute;
  left: 0px;
  top: 95px;
}

.adv__title {
  position: relative;
  padding-top: 96px;
  margin-bottom: 48px;
  color: #F0D288;
}

.adv__title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: -1px;
  height: 12px;
  width: 100%;
  background-image: url('../img/wave.png');
}

.adv__description {
  display: block;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: #FFFFFF;
}

.adv__description--1 {
  margin-bottom: 12px;
}

.adv__description--2 {
  margin-bottom: 30px;
}

.adv__price {
  display: block;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.adv__btn {
  display: inline-flex;
  padding: 22px 13px;
  margin-bottom: 135px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #F0D288;
  border: 2px solid #F0D288;
  border-radius: 100px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.adv__btn>svg {
  margin-right: 4px;
}

.adv__btn:focus {
  outline: none;
  background-color: #BB973E;
  color: var(--dark-color);
}

.adv__btn:hover {
  background-color: #F0D288;
  color: var(--dark-color);
}

.adv__btn .path-1,
.adv__btn .path-2 {
  transition: fill .3s ease-in-out;
}

.adv__btn:hover .path-1 {
  fill: var(--dark-color);
}

.adv__btn:hover .path-2 {
  fill: #F0D288;
}

.adv__btn:active {
  border-color: #BB973E;
  background-color: #BB973E;
}

.adv__btn:active .path-1 {
  fill: #F0D288;
}

.adv__btn:active .path-2 {
  fill: var(--dark-color);
}

/* ABOUT=================================================================== */

.about {
  background-color: var(--dark-color);
}

.container--about {
  background-image: url('../img/Spiral.png'), url('../img/Dawn.png');
  background-repeat: no-repeat no-repeat;
  background-position: 67% 93px, 91% 112px;
}

.about__title {
  margin-bottom: 12px;
  color: #fff;
}

.about__greetings {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--grey-dark);
}

.about__text {
  margin: 0;
  margin-bottom: 30px;
  width: 58%;
  font-size: 20px;
  line-height: 160%;
  color: var(--grey-dark);
}

.about__content {
  position: relative;
  margin-bottom: 22px;
}

.swiper-button-prev {
  position: absolute;
  flex-direction: column;
  left: 27px;
  top: 35%;
  width: 42px;
  height: 42px;
  border: 2px solid var(--grey-dark);
  border-radius: 100%;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.swiper-button-prev span {
  height: 2px;
  width: 12px;
  background-color: var(--grey-dark);
  transform: rotate(45deg);
  transform-origin: 0px;
  transition: background-color .3s ease-in-out;
}

.swiper-button-prev span:last-child {
  transform: rotate(-45deg);
}

.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  background-color: var(--violet-dark);
  outline: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border-color: var(--violet-light);
  background-color: transparent;
}

.swiper-button-prev:hover span,
.swiper-button-next:hover span {
  background-color: var(--violet-light);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  border-color: var(--violet-light);
  background-color: var(--violet-light);
}

.swiper-button-prev:active span,
.swiper-button-next:active span {
  background-color: #fff;
}

.swiper-button-next {
  position: absolute;
  flex-direction: column;
  right: 23px;
  top: 35%;
  width: 42px;
  height: 42px;
  border: 2px solid var(--grey-dark);
  border-radius: 100%;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.swiper-button-next span {
  height: 2px;
  width: 12px;
  background-color: var(--grey-dark);
  transform: rotate(45deg);
  transform-origin: 10px;
  transition: background-color .3s ease-in-out;
}

.swiper-button-next span:last-child {
  transform: rotate(-45deg);
}

.swiper-button-next::after {
  content: "";
}

.about__img {
  display: block;
  margin-bottom: 32px;
}

.about__name {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.about__description {
  margin: 0;
  margin-bottom: 8px;
  line-height: 24px;
  color: var(--grey-dark);
}

.about__textarea {
  padding: 30px;
  resize: none;
  width: 100%;
  min-height: 150px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--grey-dark);
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.about__form {
  display: flex;
  flex-wrap: wrap;
  width: 83%;
  padding-bottom: 92px;
}

.about__input {
  width: 50%;
}

.about__form>.form-container:first-child {
  width: 100%;
  margin-bottom: 24px;
}

.form-container--input {
  width: 48%;
}

.form-container--name {
  margin-right: 32px;
}

.about__input {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  padding-left: 32px;
  padding-right: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: transparent;
  color: #fff;
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.about__check {
  position: relative;
  cursor: pointer;
}

.agree {
  padding-left: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}

.about__btn {
  margin-bottom: 29px;
  transition: background-color .3s ease-in-out;
}

.about__input.is-invalid:focus,
.about__input.is-invalid:hover,
.about__input.is-invalid,
.about__textarea.is-invalid:focus,
.about__textarea.is-invalid:hover,
.about__textarea.is-invalid {
  border-color: #D52B1E;
}

.about__textarea:focus,
.about__input:focus {
  outline: none;
  border-color: var(--violet-light);
  background-color: #292E39;
}

.about__textarea:hover,
.about__input:hover {
  outline: none;
  border-color: #fff;
  background-color: #292E39;
}

.about__textarea:active,
.about__input:active {
  outline: none;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.about__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.about__checkbox+span {
  position: absolute;
  top: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
}

.about__checkbox:focus+span {
  outline: 2px solid var(--violet-light);
}

.about__checkbox:checked+span::after {
  content: '';
  position: absolute;
  left: -1px;
  width: 14px;
  height: 14px;
  background-image: url('../img/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.about__btn:disabled {
  background-color: var(--grey-dark);
}

/* FOOTER============================================================================= */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  background-color: #292E39;
  background-image: url('../img/wave-footer.png');
  background-position: center 88%;
  background-repeat: no-repeat;
}

.footer__left .container {
  margin-left: calc(25vw - 24%);
  padding-right: 0;
  max-width: none;
}

.footer__right .container {
  margin-right: calc(25vw - 31%);
  padding-left: 0;
  max-width: none;
}

.footer__logo {
  display: block;
  padding-top: 93px;
  margin-bottom: 18px;
}

.footer-socials__item:not(:last-child) {
  margin-right: 25px;
}

.footer__socials {
  flex-wrap: wrap;
  padding-left: 2px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 93px;
}

.footer__item {
  margin-bottom: 20px;
  width: 29%;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer__right {
  margin-bottom: 96px;
  width: 44%;
}

.footer__wave {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 103.34%;
  color: var(--grey-dark);
}

.footer__wave>sup {
  top: 0;
  font-size: 100%;
}

.footer-socials__link path {
  transition: fill .3s ease-in-out;
}

.footer-socials__link:focus {
  outline: none;
}

.footer-socials__link:focus path {
  fill: var(--violet-light);
}

.footer-socials__link:hover path {
  fill: var(--violet);
}

.footer-socials__link:active path {
  fill: var(--violet-dark);
}

.footer__link {
  position: relative;
  z-index: 10;
  transition: color .3s ease-in-out;
}

.footer__link:focus {
  outline: none;
}

.footer__link::after {
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: -3px;
  left: -3px;
  background-color: var(--violet-light);
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
}

.footer__link:focus::after {
  opacity: 1;
}

.footer__link:hover {
  color: var(--violet);
}

.footer__link:hover::after {
  background-color: transparent;
}

.footer__link:active {
  color: var(--violet-dark);
}

.footer__wave {
  padding-bottom: 10px;
}

.footer__bottom {
  width: 100%;
}

.invisible {
  margin: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
}