$dark-color: #121723;
$lighter-dark-color: #292E39;
$grey: #D2D5DD;
$violet: #6D31EE;
$violet-light: #AA9DFA;
$violet-dark: #4F28A5;
$grey-dark: #A1A6B4;
$grey-light: #E6E8EC;

$gap: 30px;

$sizes: (
    'xs':576px,
    'sm': 768px,
    'md': 992px,
    'lg': 1024px,
    'xl': 1366px
);